#navBar {
    position: fixed;
    width:100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index 的值越大，元件會於越上層 */
    z-index:10000;
}

#navBar .dropdown-menu {
    --bs-dropdown-min-width: 0rem;
    padding: 5px;
}

.navBar__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navBar__li {
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}

.navBar__a {
    text-decoration: none;
}

.navBar__a:hover {
    cursor: pointer;
}