#navBar {
    background-color: aliceblue;
    /* z-index 的值越大，元件會於越上層 */
    z-index:10000;
}

#navBar .dropdown-menu {
    --bs-dropdown-min-width: 0rem;
    padding: 5px;
}

@media (min-width:768px) {
    #navBar {
        position: fixed;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
