#description {
    margin-top: 100px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .description__title {
    
} */

.description__content {
    font-size: 1.5em;
}

.description__note {
    font-size: 1em;
}